//////////////////////////////
////////////COLORS////////////
//////////////////////////////

$black: black;
$white: white;

/////////////////////////////
///////////BREAKPOINTS///////
/////////////////////////////

$small-step: 768px;


////////////////////////////
//////////FONTS/////////////
////////////////////////////

$header-font: 'Cormorant Garamond', serif;
$content-font: 'Roboto', sans-serif;